.bLu-brand {
  font-size: 3em;
}

.bLu-brand img {
  max-height: 1em;
  max-width: 1em;
}

.region-nav {
  font-size: 1.8em;
  margin-left: 15em;
}

.navbar-nav .dropdown-menu {
  float: right;
  margin-right: 10px;
}

div#map {
  min-height: 700px;
}